body {
  margin: 0;
  font-family: sans-serif;
  background: #ff8f8f;
  color: #ddd;
  text-align: center;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 5rem solid bisque;
}
